<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="Gym Template">
	<meta name="keywords" content="Gym, unica, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Gym | Template</title>

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

	<!-- Css Styles -->
	<link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="../static/css/font-awesome.min.css" type="text/css">
	<link rel="stylesheet" href="../static/css/flaticon.css" type="text/css">
	<link rel="stylesheet" href="../static/css/owl.carousel.min.css" type="text/css">
	<link rel="stylesheet" href="../static/css/barfiller.css" type="text/css">
	<link rel="stylesheet" href="../static/css/magnific-popup.css" type="text/css">
	<link rel="stylesheet" href="../static/css/slicknav.min.css" type="text/css">
	<link rel="stylesheet" href="../static/css/style.css" type="text/css">
	<!-- Include Thymeleaf dialect for JavaScript in your HTML head -->
	<script
		th:src="@{/webjars/thymeleaf-extras-springsecurity4/3.0.4.RELEASE/thymeleaf-extras-springsecurity4.js}"></script>

</head>

<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>
	
	<!-- Offcanvas Menu Section Begin -->
	<div class="offcanvas-menu-overlay"></div>
	<div class="offcanvas-menu-wrapper">
		<div class="canvas-close">
			<i class="fa fa-close"></i>
		</div>
		<div class="canvas-search search-switch">
			<i class="fa fa-search"></i>
		</div>
		<nav class="canvas-menu mobile-menu">
			<ul>
				<li><a href="#home">Home</a></li>
				<li><a href="#why">Why Us?</a></li>
				<li><a href="#team">Our Team</a></li>
				<li><a href="#registration">Registration</a></li>
				<li><a href="#contact"> Contact</a></li>
			</ul>
		</nav>
		<div id="mobile-menu-wrap"></div>
		<div class="canvas-social">
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-youtube-play"></i></a>
			<a href="#"><i class="fa fa-instagram"></i></a>
		</div>
	</div>
	<!-- Offcanvas Menu Section End -->

	<!-- Header Section Begin -->
	<header class="header-section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-3">
					<div class="logo">
						<a href="/home">
							<img src="../static/img/logo.png" alt="">
						</a>
					</div>
				</div>
				<div class="col-lg-6">
					<nav class="nav-menu">
						<ul>
							<li class="active"><a href="#home">Home</a></li>
							<li><a href="#why">Why Us?</a></li>
							<li><a href="#team">Our Team</a></li>
							<li><a href="#registration">Registration</a></li>
							<li><a href="#contact">Contact</a></li>
						</ul>
					</nav>
				</div>
				<div class="col-lg-3">
					<div class="top-option">
						<div class="to-search search-switch">
							<i class="fa fa-search"></i>
						</div>
						<div class="to-social">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-youtube-play"></i></a>
							<a href="#"><i class="fa fa-instagram"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="canvas-open">
				<i class="fa fa-bars"></i>
			</div>
		</div>
	</header>
	<!-- Header End -->

	<!-- Hero Section Begin -->
	<section class="hero-section" id="home">

		<div class="hs-slider owl-carousel">
			<div class="hs-item set-bg" data-setbg="../static/img/hero/hero-1.jpg">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 offset-lg-6">
							<div class="hi-text">
								<span>Shape your body</span>
								<h1>Be <strong>strong</strong> traning hard</h1>
								<a href="#" class="primary-btn">Get info</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="hs-item set-bg" data-setbg="../static/img/hero/hero-2.jpg">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 offset-lg-6">
							<div class="hi-text">
								<span>Shape your body</span>
								<h1>Be <strong>strong</strong> traning hard</h1>
								<a href="#" class="primary-btn">Get info</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero Section End -->

	<!-- ChoseUs Section Begin -->
	<section class="choseus-section spad " id="why">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title">
						<span>Why chose us?</span>
						<h2>PUSH YOUR LIMITS FORWARD</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="cs-item">
						<span class="flaticon-034-stationary-bike"></span>
						<h4>Modern equipment</h4>
						<p>Advanced medical imaging equipment like MRI and CT scanners, robotic surgical systems,
							telemedicine technology, and electronic health record (EHR) systems.</p>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="cs-item">
						<span class="flaticon-033-juice"></span>
						<h4>Healthy nutrition plan</h4>
						<p> Include a wide variety of foods from all food groups to ensure you get a broad spectrum of
							nutrients.</p>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="cs-item">
						<span class="flaticon-002-dumbell"></span>
						<h4>Proffesponal training plan</h4>
						<p>Identify your career goals and objectives. What do you want to achieve in the short term and
							long term?</p>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="cs-item">
						<span class="flaticon-014-heart-beat"></span>
						<h4>Unique to your needs</h4>
						<p>Start by conducting a thorough self-assessment. Reflect on your personal and professional
							goals, strengths, weaknesses, and areas where you want to improve.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ChoseUs Section End -->


	<!-- Team Section Begin -->
	<section class="team-section spad" id="team">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="team-title">
						<div class="section-title">
							<span>Our Team</span>
							<h2>TRAIN WITH EXPERTS</h2>
						</div>
						<a href="#registration" class="primary-btn btn-normal appoinment-btn">appointment</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="ts-slider owl-carousel">
					<div class="col-lg-4">
						<div class="ts-item set-bg" data-setbg="../static/img/team/team-1.jpg">
							<div class="ts_text">
								<h4>Athart Rachel</h4>
								<span>Gym Trainer</span>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="ts-item set-bg" data-setbg="../static/img/team/team-2.jpg">
							<div class="ts_text">
								<h4>Athart Rachel</h4>
								<span>Gym Trainer</span>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="ts-item set-bg" data-setbg="../static/img/team/team-3.jpg">
							<div class="ts_text">
								<h4>Athart Rachel</h4>
								<span>Gym Trainer</span>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="ts-item set-bg" data-setbg="../static/img/team/team-4.jpg">
							<div class="ts_text">
								<h4>Athart Rachel</h4>
								<span>Gym Trainer</span>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="ts-item set-bg" data-setbg="../static/img/team/team-5.jpg">
							<div class="ts_text">
								<h4>Athart Rachel</h4>
								<span>Gym Trainer</span>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="ts-item set-bg" data-setbg="../static/img/team/team-6.jpg">
							<div class="ts_text">
								<h4>Athart Rachel</h4>
								<span>Gym Trainer</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Team Section End -->

	<!-- Banner Section Begin -->
	<section class="banner-section set-bg" data-setbg="../static/img/banner-bg.jpg">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="bs-text">
						<h2>registration now to get more deals</h2>
						<div class="bt-tips">Where health, beauty and fitness meet.</div>
						<a href="#registration" class="primary-btn  btn-normal">Appointment</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Banner Section End -->


	<!-- Contact Section Begin -->
	<section class="contact-section spad" style="padding-top:30px;" id="registration">
		<div class="container">
			<h1 class="text-white text-center" style="margin: 30px; font-size:60px;">REGISTER NOW</h1>
			<div class="row">

				<div class="col-lg-6">
					<img src="../static/img/about-us.jpg" width="100%" height="100%" style="border-radius: 35px;">
				</div>
				<div class="col-lg-6">
					
					<!-- dynamic message -->
						<div th:if="${session.message}" th:classappend="${session.message.type}" class="alert text-center" role="alert"
							style="height: 40px;margin: 0px;padding-top: 5px;">
							<p th:text="${session.message.content}" style="color: white;font-weight: 600;font-size: 22px;"></p>
						</div>
					
					<div class="leave-comment">
						<form novalidate th:action="@{/save}" method="post" th:object="${gymmers}">

							<input type="text" placeholder="Name" name="name" th:value="${gymmers.name}" required
								th:classappend="${#fields.hasErrors('name')?'is-invalid':''}">
							<div th:each="e : ${#fields.errors('name')}" th:text="${e}"
								id="validationServerUsernameFeedback" class=" abs invalid-feedback">
							</div>

							<input type="email" placeholder="Email" name="email" th:value="${gymmers.email}" required
								th:classappend="${#fields.hasErrors('email')?'is-invalid':''}">
							<div th:each="e : ${#fields.errors('email')}" th:text="${e}"
								id="validationServerUsernameFeedback" class=" abs invalid-feedback">
							</div>

							<input type="number" placeholder="Phone Number" name="phone" th:value="${gymmers.phone}"
								th:classappend="${#fields.hasErrors('phone')?'is-invalid':''}" required>
							<div th:each="e : ${#fields.errors('phone')}" th:text="${e}"
								id="validationServerUsernameFeedback" class="abs invalid-feedback">
							</div>

							<input type="date" placeholder="D.O.B" name="age" required>


							<select name="gender">
								<option selected>Male</option>
								<option>female</option>
							</select>


							<select name="assistant">
								<option selected>Require Trainer</option>
								<option>Self</option>
							</select>

							<button type="submit">Submit</button>
						</form>
					</div>
				</div>
			</div>

		</div>
	</section>




	<!-- Get In Touch Section Begin -->
	<div class="gettouch-section" id="contact">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="gt-text">
						<i class="fa fa-map-marker"></i>
						<p>333 Middle Winchendon Rd, Rindge,<br /> NH 03461</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="gt-text">
						<i class="fa fa-mobile"></i>
						<ul>
							<li>125-711-811</li>
							<li>125-668-886</li>
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<div class="gt-text email">
						<i class="fa fa-envelope"></i>
						<p>Support.gymcenter@gmail.com</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Get In Touch Section End -->

	<!-- Footer Section Begin -->
	<section class="footer-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="fs-about">
						<div class="fa-logo">
							<a href="#"><img src="../static/img/logo.png" alt=""></a>
						</div>
						<p>The gym is not a punishment; it's a blessing. Your workouts are not something you have to do;
							they're something you get to do.</p>
						<div class="fa-social">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-youtube-play"></i></a>
							<a href="#"><i class="fa fa-instagram"></i></a>
							<a href="#"><i class="fa  fa-envelope-o"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-6">
					<div class="fs-widget">
						<h4>Useful links</h4>
						<ul>
							<li><a href="#">About</a></li>
							<li><a href="#">Blog</a></li>
							<li><a href="#">Classes</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-6">
					<div class="fs-widget">
						<h4>Support</h4>
						<ul>
							<li><a href="#">Login</a></li>
							<li><a href="#">My account</a></li>
							<li><a href="#">Subscribe</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="fs-widget">
						<h4>Tips & Guides</h4>
						<div class="fw-recent">
							<h6><a href="#">Physical fitness may help prevent depression, anxiety</a></h6>
							<ul>
								<li>3 min read</li>
								<li>20 Comment</li>
							</ul>
						</div>
						<div class="fw-recent">
							<h6><a href="#">Fitness: The best exercise to lose belly fat and tone up...</a></h6>
							<ul>
								<li>3 min read</li>
								<li>20 Comment</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>
	<!-- Footer Section End -->

	<!-- Search model Begin -->
	<div class="search-model">
		<div class="h-100 d-flex align-items-center justify-content-center">
			<div class="search-close-switch">+</div>
			<form class="search-model-form">
				<input type="text" id="search-input" placeholder="Search here.....">
			</form>
		</div>
	</div>
	<!-- Search model end -->

	<!-- Js Plugins -->
	<script src="../static/js/jquery-3.3.1.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/jquery.magnific-popup.min.js"></script>
	<script src="../static/js/masonry.pkgd.min.js"></script>
	<script src="../static/js/jquery.barfiller.js"></script>
	<script src="../static/js/jquery.slicknav.js"></script>
	<script src="../static/js/owl.carousel.min.js"></script>
	<script src="../static/js/main.js"></script>

	<th:block th:text="${@sessionHelper.removeSession()}"></th:block>


</body>

</html>